<div class="card" (click)="onClick()">
  <div class="card-header">
    {{post.titulo}}
  </div>
  <div class="card-body">
    <img src="https://picsum.photos/200/300" alt="">
  </div>
  <div class="card-footer">
    Publicado em {{post.dataPublicacao}} <br>
    <small>Autor: {{post.autor}}</small>
  </div>
</div>
